.newsContainer{
 /* padding: 0 50px; */
 display: flex;
 width: 100%;
 justify-content: center;
 /* align-items: center; */
}

/* .newsWrap {
 display: flex;
 justify-content: center;
 align-items: center;
} */

.newsPageTitle{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
color: lightgrey;
}

.boxes{
margin-top: 20px;
}

.News {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  width: 500px;
  margin-bottom: 30px;
}

.NewsActive {
  height: 500px;
  width: 500px;
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
  margin-bottom: 25px;
  overflow-y: auto;

}

.newsTitle{
  font-size: 17px;
  font-weight: 500;
  color: rgb(56, 1, 56);
  margin: 0 auto;
  text-align: justify;
}


.detailsBox {
  padding: 15px;
  
}

.NewsDetails {
  display: flex;
  justify-content: space-between;
}

.sourceName{
  font-size: 14px;
  margin-top: 3px;
}

.timePost{
  margin-top: 2px;
  font-size: 10px;
}

.partB p{
  font-size: 10px;
  margin-top: 25px;
}


.newsImg {
  width: 100%;
  height: 250px;
  margin-bottom: 5px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.newsContent{
  padding: 15px;
}



